@using Microsoft.AspNetCore.Http;
@{
    @model Qmos.UI.ViewModels.ElementViewModel
if (Model.ID_Element == 0) {
        ViewData["Title"] = "Crear Elemento";

    } else {
        ViewData["Title"] = "Modificar Elemento";

    }
    ViewData["Root"] = "Elementos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/plugins/sweetalert/sweetalert.css">
<link rel="stylesheet" href="~/css/plugins/dataTables/datatables.min.css" />
<link rel="stylesheet" href="~/css/plugins/toastr/toastr.min.css" />
<link rel="stylesheet" href="~/css/plugins/fontawesome-picker/css/fontawesome-iconpicker.min.css" />

<partial name="_HeaderDetailPartial" view-data="ViewData" />

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row justify-content-md-center">
        <div class="col-lg-offset-2 col-lg-8">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-12">
                            <form asp-action="Post" role="form" method="post">
                                <div class="form-group">
                                    <input type="hidden" asp-for="@Model.ID_Element" />

                                    <label>Nombre</label>
                                    <input asp-for="@Model.TX_Name" type="text" placeholder="Nombre" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Url</label>

                                    <input asp-for="@Model.TX_Url" type="text" placeholder="Url" class="form-control">

                                </div>
                                <div class="form-group">
                                    <label>Ícono</label>
                                    @*<input asp-for="@Model.TX_Icon" type="text" placeholder="Icon" class="form-control">*@
                                    <input asp-for="@Model.TX_Icon" placeholder="Ícono" class="form-control icp icp-auto iconpicker-element iconpicker-input" data-input-search="true" value="@Model.TX_Icon" type="text">
                                </div>
                                <div class="form-group">
                                    <label>Elemento Padre</label>
                                    <select asp-for="@Model.ID_ElementParent" asp-items="@Model.ListElements" class="form-control"><option value="0">Sin Elemento Padre</option></select>
                                </div>
                                <div class="form-group">
                                    <label>Tipo</label>
                                    <select asp-for="@Model.ID_Type" as asp-items="@(new SelectList(Model.ListTypes,"Value","Text"))" class="form-control"><option value="">Seleccione un tipo</option></select>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group row text-center">
                                    <div class="col-lg-12">
                                        <a asp-action="Index" class="btn btn-white"><i class="fa fa-arrow-left"></i> Regresar</a>
                                        <button id="btn-save" class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Guardar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{

    <script src="~/js/jquery-3.1.1.min.js"></script>
    <script src="~/js/plugins/nestable/jquery.nestable.js"></script>
    <script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/js/plugins/toastr/toastr.min.js"></script>
    <script src="~/js/plugins/fontawesome-picker/js/fontawesome-iconpicker.min.js"></script>
<script>
    $(document).ready(function () {
        $('.icp-auto').iconpicker();
    });
</script>
}