@model Qmos.UI.ViewModels.UpdateTimeViewModel
@using Microsoft.AspNetCore.Mvc;
@{
    ViewData["Title"] = "Iron Yield";
    ViewData["Root"] = "Dashboards";
}

<link href="~/css/plugins/chartjs/Chart.min.css" rel="stylesheet" />
<link href="~/css/plugins/toastr/toastr.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/plugins/daterangepicker/daterangepicker.css" />
<link href="~/css/plugins/datapicker/datepicker3.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-chosen.css" />

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12 text-center" style="font-size:40px;color:#000000">
        @(!string.IsNullOrEmpty((string)ViewData["Root"]) ? @ViewData["Title"].ToString() : "")
    </div>
</div>

<div class="col-lg-12" data-rolable-url="dash-IronYield" data-rolable-name="Iron Yield">
    <div class="ibox ">
        <div class="ibox-title">
            <h5 style=" font-size: 150%;">@DateTime.Now.ToString("MM/dd/yyyy HH:mm")</h5>
            <div class="ibox-tools">
                <div onLoad="carga()" class="font-bold" style=" font-size: 150%;">
                    <span id="hora">00</span>:<span id="minuto">00</span>:<span id="segundo">01</span>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <div class="col-lg-3 col-md-4 stat-percent">
                <div class="ibox ">
                    <div class=" text-center">
                        <h1 class="no-margins font-bold" style="color:red;"><span id="Average">0.00</span> %</h1>
                        <small>Average of Yield</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <canvas id="chartIronYield" height="157" width="600"></canvas>
                </div>
            </div>

        </div>
    </div>
    <div class="fa-pull-right ">
        <span>
            <img alt="image" height="80" src="~/images/LK_turia_logos55cm_optimus.png">
        </span>
    </div>
</div>

@section Scripts {
    <script src="~/js/plugins/toastr/toastr.min.js"></script>
    <script src="~/js/plugins/chartjs/Chart.bundle.min.js"></script>
    <script src="~/js/plugins/chartjs/Chart.min.js"></script>
    <script src="~/js/plugins/chartjs/chartjs-plugin-labels.js"></script>
    <script src="~/js/plugins/chartjs/chartjs-plugin-datalabels.js"></script>
    <script src="~/js/plugins/moment/moment.min.js"></script>
    <script src="~/js/plugins/daterangepicker/daterangepicker.min.js"></script>
    <script src="~/js/Qmos/dashboard.js"></script>
    <script src="~/lib/plugins/chosen/chosen.jquery.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            GetIronYield();
            //Every X seconds (XXXX milliseconds) the refresh function will be executed
            if (@Model.TIMEMILLISECONDS > 0) {
            var milliseconds = @Model.TIMEMILLISECONDS;
                setTimeout(refresh, milliseconds);
                }
        });

    </script>
}
