@model Qmos.UI.ViewModels.UpdateTimeViewModel
@using Microsoft.AspNetCore.Mvc;
@{
    ViewData["Title"] = "MTD Average (per ton)";
    ViewData["Root"] = "Dashboards";
}

<link href="~/css/plugins/toastr/toastr.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/plugins/daterangepicker/daterangepicker.css" />
<link href="~/css/plugins/datapicker/datepicker3.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-chosen.css" />
<link href="~/css/plugins/c3/c3.min.css" rel="stylesheet" />
<style>
    .mytxt {
        font-size: 14pt;
    }

    .Alg {
        width: 100%;
        min-height: 200px;
    }

    .c3-chart-arcs-gauge-min {
        font-size: 12px;
    }

    .c3-chart-arcs-gauge-max {
        font-size: 12px;
    }
</style>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12 text-center" style="font-size:40px;color:#000000">
        @(!string.IsNullOrEmpty((string)ViewData["Root"]) ? @ViewData["Title"].ToString() : "")
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="ibox">
            <div class="col-lg-12" data-rolable-url="dash-MTDAverage" data-rolable-name="MTD Average">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5 style=" font-size: 150%;">@DateTime.Now.ToString("MM/dd/yyyy HH:mm")</h5>
                        <div class="ibox-tools">
                            <div onLoad="carga()" class="font-bold" style=" font-size: 150%;">
                                <span id="hora">00</span>:<span id="minuto">00</span>:<span id="segundo">01</span>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="text-center col-md-3 "><label>EAF KWht</label><svg id="Chart1" class="Alg DrawChart1"></svg> </div>
                            <div class="text-center col-md-3"><label>Eaf + LRF KwhT</label><svg id="Chart2" class="Alg DrawChart2"></svg> </div>
                            <div class="text-center col-md-3"><label>Ton per Hour (POn)</label><svg id="Chart3" class="Alg DrawChart3"></svg> </div>
                            <div class="text-center col-md-3"><label>Iron Yield</label><svg id="Chart4" class="Alg DrawChart4"></svg> </div>

                        </div>
                        <div class="row">
                            <div class="text-center col-md-3"><label>Foamy Carbon</label><svg id="Chart5" class="Alg DrawChart5"></svg> </div>
                            <div class="text-center col-md-3"><label>NG</label><svg id="Chart6" class="Alg DrawChart6"></svg> </div>
                            <div class="text-center col-md-3"><label>Aluminum</label><svg id="Chart7" class="Alg DrawChart7"></svg> </div>
                            <div class="text-center col-md-3"><label>ChargeCarbon</label><svg id="Chart8" class="Alg DrawChart8"></svg> </div>
                        </div>
                    </div>
                </div>
                <div class="fa-pull-right ">
                    <span>
                        <img alt="image" height="80" src="~/images/LK_turia_logos55cm_optimus.png">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/plugins/toastr/toastr.min.js"></script>
    <script src="~/js/plugins/moment/moment.min.js"></script>
    <script src="~/js/plugins/daterangepicker/daterangepicker.min.js"></script>
    <script src="~/lib/plugins/chosen/chosen.jquery.js"></script>

    <script src="~/js/plugins/c3/c3.min.js"></script>
    <script src="~/js/plugins/d3/d3.v3.min.js"></script>
    <script src="~/js/Qmos/dashboard.js"></script>
    <script>
        $(document).ready(function () {
           GetMTDAverage();
            //Every X seconds (XXXX milliseconds) the refresh function will be executeicond
            if (@Model.TIMEMILLISECONDS > 0) {
            var milliseconds = @Model.TIMEMILLISECONDS;
              setTimeout(function(){
                refresh("@Url.Action("Index", "AutomaticTransition")?Order="+ @Model.ORDER_TRANSITION,@Model.ORDER_TRANSITION);
            },milliseconds)
            }
            // Menu colapsado
            $('body').addClass('canvas-menu');
            $('.sidebar-collapse').append('<a class="close-canvas-menu"><i class="fa fa-times"></i></a>');
            $('.close-canvas-menu').on('click', function () {
                $("body").toggleClass("mini-navbar");
                SmoothlyMenu();
            });
            $('#page-wrapper').addClass('sidebar-content');
            $('body.canvas-menu .sidebar-collapse').slimScroll({
                height: '100%',
                railOpacity: 0.9
            });
            // Fin menu colapsado
            });
    </script>
}
