@model Qmos.UI.ViewModels.UpdateTimeViewModel
@using Microsoft.AspNetCore.Mvc;
@{
    ViewData["Title"] = "MTD Missed Heats";
    ViewData["Root"] = "Dashboards";
}
<link href="~/css/plugins/chartjs/Chart.min.css" rel="stylesheet" />
<link href="~/css/plugins/toastr/toastr.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/plugins/daterangepicker/daterangepicker.css" />
<link href="~/css/plugins/datapicker/datepicker3.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-chosen.css" />


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12 text-center" style="font-size:40px;color:#000000">
        @(!string.IsNullOrEmpty((string)ViewData["Root"]) ? @ViewData["Title"].ToString() : "")
    </div>
</div>

<div class="col-lg-12" data-rolable-url="dash-MTDMissedHeats" data-rolable-name="Crew">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5 style=" font-size: 150%;">@DateTime.Now.ToString("MM/dd/yyyy HH:mm")</h5>
            <div class="ibox-tools">
                <div onLoad="carga()" class="font-bold" style=" font-size: 150%;">
                    <span id="hora">00</span>:<span id="minuto">00</span>:<span id="segundo">01</span>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-md-10">
                    <canvas id="chartMTDMissedHeats" width="140" height="50" style="margin: 18px auto 0"></canvas>
                </div>
                <div class="col-md-2" style="margin-top:80px">
                    <div>
                        <ul class="list-group">
                            <li class="list-group-item" style="border:hidden;padding:0px;margin-bottom:0px">
                                <label style="font-size:18px">Crew</label>
                            </li>
                            <li class="list-group-item" style="border:hidden; padding:0px;margin-bottom:0px">
                                <i class="fa fa-circle" style="color:#138cfc;"></i> <span style="font-size:16px">C</span>
                            </li>
                            <li class="list-group-item" style="border:hidden; padding:0px;margin-bottom:0px">
                                <i class="fa fa-circle" style="color:#2c54a9; "></i> <span style="font-size:16px">D</span>
                            </li>
                            <li class="list-group-item" style="border:hidden;padding:0px;margin-bottom:0px">
                                <i class="fa fa-circle" style="color:#e36b33;"></i> <span style="font-size:16px">A</span>
                            </li>
                            <li class="list-group-item" style="border:hidden;padding:0px;margin-bottom:0px">
                                <i class="fa fa-circle" style="color:#7c1c84;"></i> <span style="font-size:16px">B</span>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="fa-pull-right ">
        <span>
            <img alt="image" height="80" src="~/images/LK_turia_logos55cm_optimus.png">
        </span>
    </div>
</div>

@section Scripts {
    <script src="~/js/plugins/toastr/toastr.min.js"></script>
    <script src="~/js/plugins/chartjs/Chart.bundle.min.js"></script>
    <script src="~/js/plugins/chartjs/Chart.min.js"></script>
   @* <script src="~/js/plugins/chartjs/chartjs-plugin-labels.js"></script>*@
    <script src="~/js/plugins/chartjs/chartjs-plugin-datalabels.js"></script>
    <script src="~/js/plugins/moment/moment.min.js"></script>
    <script src="~/js/plugins/daterangepicker/daterangepicker.min.js"></script>
    <script src="~/js/Qmos/dashboard.js"></script>
    <script src="~/lib/plugins/chosen/chosen.jquery.js"></script>

    <script>
            $(document).ready(function () {
                GetMTDMissedHeats();
                //Every X seconds (XXXX milliseconds) the refresh function will be executed
            if (@Model.TIMEMILLISECONDS > 0) {
            var milliseconds = @Model.TIMEMILLISECONDS;
                setTimeout(refresh, milliseconds);
                }

            });
    </script>
}
