@using Microsoft.AspNetCore.Http;
@{
    @model TravelAgency.UI.ViewModels.TravelsViewModel
    @if (Model.ID_Travels != 0)
    {
        ViewData["Title"] = "Modificar Viaje" +  ViewData["Customer"];
    }
    else
    {
        ViewData["Title"] = "Crear Viaje";
    }

    ViewData["Root"] = "Viaje";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/plugins/sweetalert/sweetalert.css">
<link rel="stylesheet" href="~/css/plugins/dataTables/datatables.min.css" />
<link rel="stylesheet" href="~/css/plugins/toastr/toastr.min.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-chosen.css" />
<partial name="_HeaderDetailPartial" view-data="ViewData" />

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row justify-content-md-center">
        <div class="col-lg-offset-2 col-lg-8">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group row text-left">
                                <div class="col-lg-12">
                                    <span class="text-danger"> *</span><span>
                                        Campos requeridos
                                    </span>
                                </div>
                            </div>
                            <form asp-action="Post" role="form" method="post">
                                <input type="hidden" asp-for="@Model.ID_Travels" />

                                <div class="row">
                                    <div class="form-group col-lg-6 col-md-6">
                                        <label>
                                            Código de viaje
                                        </label><span class="text-danger"> *</span>
                                        <input asp-for="@Model.NU_TravelCode" type="text" placeholder="Primer Nombre" class="form-control">
                                    </div>
                                    <div class="form-group col-lg-6 col-md-6">
                                        <label>
                                            Número de plaza
                                        </label>
                                        <input asp-for="@Model.NU_NumberOfPlace" type="number" placeholder="Segundo Nombre" class="form-control">
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6 col-md-6">
                                        <label>
                                            Origen
                                        </label>
                                        <input asp-for="@Model.TX_Origin" type="text" placeholder="Origen" class="form-control">
                                    </div>
                                    <div class="form-group col-lg-6 col-md-6">
                                        <label>
                                            Destino
                                        </label><span class="text-danger"> *</span>
                                        <input asp-for="@Model.TX_Destination" type="text" placeholder="Destino" class="form-control">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-lg-6 col-md-6">
                                        <label> Precio</label><span class="text-danger"> *</span>
                                        <input asp-for="@Model.NU_Price" type="text" placeholder="Cédula" class="form-control">
                                    </div>
                                </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row text-center">
                                        <div class="col-lg-12">
                                            <a asp-action="Index" class="btn btn-white"><i class="fa fa-arrow-left"></i> Back</a>
                                            <button id="btn-save" class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Save</button>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="~/js/plugins/dataTables/datatables.min.js"></script>
    <script src="~/js/plugins/dataTables/dataTablesCustom.js"></script>
    <script src="~/js/plugins/toastr/toastr.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#btn-save').on('click', function () {
                if ($("#Travellers_ID_Travellers").val() == "0") {
                    toastr.error(`Ingrese un viajero`);
                    return false
                }
                if ($("#Travels_ID_Travels").val() == "0") {
                    toastr.error(`Ingrese un viaje`);
                    return false
                }
            })
        })

    </script>
}